
#checkout{
    display: flex;
}
#checkout #info{
    flex-basis: 60%;
}
#checkout #customer-info{
    flex-basis: 40%;
}
#checkout #cart-table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
#checkout #cart-table img {
    max-width: 100px; 
    max-height: 100px; 
    width: auto;
    height: auto;
}

#checkout #cart-table th, #cart-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#checkout #cart-table th {
    background-color: #4caf50;
    color: white;
}

#checkout #checkout-form {
    display: grid;
    gap: 10px;
    max-width: 400px;
    margin-top: 10px;
}

#checkout label {
    font-weight: bold;
}

#checkout input, select {
    width: 110%;
    padding: 8px;
    box-sizing: border-box;
}

#checkout button {
    width: 110%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#checkout button:hover {
    background-color: #45a049;
}
#checkout textarea{
    width: 110%;
}


/* Responsive Styles */
@media screen and (max-width: 768px) {
    #checkout {
        flex-direction: column;
    }

    #checkout #cart-table, #checkout #customer-info {
        width: 100%;
    }
}
